<!DOCTYPE html>
<html>
  <head>
    <title>WonderBudget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
  </head>
  <body>
    <img src="../static/Logo.png" alt="Logo" />

    <div class="orange-box">
      <form method="post" action="/">
        <!-- 출발 도착 날짜 입력 
        <div class="main-date-container">
          <div>
            <label for="hotelDate">출발 날짜를 선택해주세요:</label>
            <input type="date" name="t_data1" id="hotelDate">
          </div>
          <div>
            <label for="hotelDate">도착 날짜를 선택해주세요:</label>
            <input type="date" name="t_data2" id="hotelDate">
          </div>
        </div>-->

        <!-- 돌아오는 날 항공기 정보 입력 -->
        <div class="container">
          <div class="input-section">
            <h3>출발 항공기</h3>
            <label for="flightAirport">출발 공항을 선택하세요:</label>
            <select name="f_data4" id="flightAirport">
              <option value="GMP">GMP</option>
              <option value="CJU">CJU</option> 
            </select>
            <label for="flightDate">항공기 출발 날짜를 선택하세요:</label>
            <input type="date" name="f_data3" id="flightDate">
            <label for="flightName">항공사를 선택하세요:</label>
            <select name="f_data1" id="flightName">
              <option value="아시아나">아시아나</option>
              <option value="대한항공">대한항공</option>
              <option value="이스타항공">이스타항공</option>
              <option value="제주항공">제주항공</option>
              <option value="티웨이항공">티웨이항공</option>
              <option value="진에어">진에어</option>
              <option value="에어부산">에어부산</option>
              <option value="에어서울">에어서울</option>
              <option value="하이에어">하이에어</option>
            </select>
            <label for="flightSeat">항공기 좌석 등급을 선택하세요:</label>
            <select name="f_data2" id="flightSeat">
              <option value="일반석">일반석</option>
              <option value="할인석">할인석</option>
              <option value="특가석">특가석</option>
            </select>
          </div>
          <!-- 호텔 정보 입력 -->
          <div class="input-section">
            <h3>호텔</h3>
            <label for="hotelDate">호텔 입실 날짜를 선택해주세요:</label>
            <input type="date" name="h_data1" id="hotelDate">
            <label for="hotelDate">호텔 퇴실 날짜를 선택해주세요:</label>
            <input type="date" name="h_data2" id="hotelDate">
            <label for="hotelRating">호텔 평점을 입력하세요(1에서10):</label>
            <input type="text" name="h_data3" id="hotelRating" />
            <label for="hotelGrade">호텔 등급을 선택하세요:</label>
            <select name="h_data4" id="hotelGrade">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <label for="hotelAddress">호텔 지역을 선택하세요:</label>
            <select name="h_data5" id="hotelAddress">
              <option value="서귀포">서귀포, 대한민국</option>
              <option value="제주">제주, 대한민국</option>
            </select>
          </div>
          <!-- 렌트카 정보 입력 -->
          <div class="input-section">
            <h3>렌터카</h3>
            <label for="carDate">렌터카 빌리는 날을 선택하세요:</label>
            <input type="date" name="c_data1" id="carDate">
            <label for="carDate">렌터카 반납 날을 선택하세요:</label>
            <input type="date" name="c_data2" id="carDate">
            <label for="carEngine">렌터카 기름 종류를 선택하세요:</label>
            <select name="c_data3" id="carEngine">
              <option value="가솔린">가솔린</option>
              <option value="디젤">디젤</option>
              <option value="전기">전기</option>
            </select>
            <label for="carSeater">렌터카 좌석 수를 선택하세요:</label>
            <select name="c_data4" id="carSeater">
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="7">7</option>
              <option value="11">9</option>
              <option value="11">8</option>
              <option value="11">15</option>
              <option value="11">12</option>
            </select>
          </div>
          <!-- 돌아오는 날 항공기 정보 입력 -->
          <div class="input-section">
            <h3>도착 항공기</h3>
            <label for="flightAirport2"
              >여행 돌아오는날 항공기 공항을 선택하세요:</label
            >
            <select name="f_data14" id="flightAirport2">
              <option value="GMP">GMP</option>
              <option value="CJU">CJU</option>
            </select>
            <label for="flightDate2">항공기 여행 돌아오는날 선택하세요:</label>
            <input type="date" name="f_data13" id="flightDate2">
            <label for="flightName2">항공사를 선택하세요:</label>
            <select name="f_data11" id="flightName2">
              <option value="아시아나">아시아나</option>
              <option value="대한항공">대한항공</option>
              <option value="이스타항공">이스타항공</option>
              <option value="제주항공">제주항공</option>
              <option value="티웨이항공">티웨이항공</option>
              <option value="진에어">진에어</option>
              <option value="에어부산">에어부산</option>
              <option value="에어서울">에어서울</option>
              <option value="하이에어">하이에어</option>
            </select>
            <label for="flightSeat2">항공기 좌석 등급을 선택하세요:</label>
            <select name="f_data12" id="flightSeat2">
              <option value="일반석">일반석</option>
              <option value="할인석">할인석</option>
              <option value="특가석">특가석</option>
            </select>
          </div>
        </div>

        <button type="submit">저장하기</button>
      </form>

      <p>예측 결과:</p>
      {% if pred is defined %}
      <h2>예상 가격: {{ pred }}</h2>
      {% endif %}
    </div>

    <!-- 호텔 대시보드 버튼 -->
    <button
      class="dashboard-button hotel-dashboard-button"
      onclick="window.location.href = 'https://lookerstudio.google.com/s/q2Tz2MbNEQo';"
    >
      호텔 대시보드
    </button>

    <!-- "항공권 대시보드" 버튼은 클래스를 추가하지 않습니다. 따라서 공통 스타일만 적용됩니다. -->
    <button
      class="dashboard-button"
      onclick="window.location.href = 'https://lookerstudio.google.com/s/iHaCmbX5Gso';"
    >
      항공권 대시보드
    </button>

    <!-- "렌트카 대시보드" 버튼은 다른 클래스를 추가합니다. -->
    <button
      class="dashboard-button rental-dashboard-button"
      onclick="window.location.href = 'https://lookerstudio.google.com/s/ijkQUC956DM';"
    >
      렌트카 대시보드
    </button>
  </body>
</html>